<div class="mt-4">
<div class="flex gap-2 items-center">
	<h6 class="font-medium text-lg"> Analytics </h6>
	<div class="flex-1 bg-gray-300 h-[1px] rounded-full"></div>
</div>

	@* Cards Analytics *@
	<div class="flex gap-3">

	</div>
</div>

@code {

}
